.ni-notification {
  background: #fff;
  box-shadow: rgba(0,0,0,0.25) 0 0.125rem 0.25rem;
  font-size: 0.75rem;
  cursor: pointer;
  user-select: none;
  margin: 0.5rem 0.5rem 0;
}
.ni-notification header {
  display: flex;
  align-items: center;
  padding: 0 0.375rem;
  height: 2em;
  background: #666;
}
.ni-notification header .icon {
  padding-right: 0.25rem;
  color: #fff;
}
.ni-notification header .title {
  flex: 1;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 0.375rem;
  color: #fff;
}
.ni-notification header .time,
.ni-notification header .close {
  color: rgba(255,255,255,0.75);
}
.ni-notification header menu .close {
  display: none;
}
.ni-notification .body {
  padding: 0.375rem;
}
.ni-notification:hover menu .time {
  display: none;
}
.ni-notification:hover menu .close {
  display: block;
}
.ni-notification.ni-notification-warn header {
  background: #ff8000;
}
.ni-notification.ni-notification-error header {
  background: #f00;
}
@media screen and (min-width: 360px) {
  .ni-notification {
    font-size: 0.875rem;
    margin: 0.625rem 0.625rem 0;
  }
  .ni-notification header {
    padding: 0 0.5rem;
  }
  .ni-notification .body {
    padding: 0 0.5rem;
  }
}
@media screen and (min-width: 400px) {
  .ni-notification {
    margin: 0.75rem 0.75rem 0;
  }
  .ni-notification header {
    padding: 0 0.75rem;
  }
  .ni-notification .body {
    padding: 0.75rem;
  }
}
@media screen and (min-width: 720px) {
  .ni-notification {
    margin: 1rem 1rem 0;
  }
}
